* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.header {
    background-color: #0E0E52;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: white;
    padding: 10px 20px;
    position: sticky;       /* Membuat elemen menempel saat di-scroll */
    top: 0;                 /* Menempel tepat di batas atas layar */
    z-index: 1000;
}

.header-judul {
    display: flex;
}

.judul-web {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.identitas-nama-header {
    display: flex;
    align-items: center;
    margin-left: 1300px;
}

.logo-univ{
    width: 80px;
}